*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #FFDE83;
    background-size: cover;
}

/* ---- reset ---- */ 
html, body { 
    margin:0; 
    font:normal 75% Arial, Helvetica, sans-serif; 
    background-color: #FFDE83;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
} 

canvas { 
    display: block; 
    background-color: #FFDE83;
    background-size: cover;
} 

/*Landing Page*/
#lplogo {
    max-width:100px;
    margin: 2%;
    background: transparent;
}

#navitems {
    color: #FFDE83;
}

/*Featured Pages*/
.bodycontainer {
    background-color: #FFDE83;
}

/*Recipe Feature*/
#fc1 {
    background-color: transparent;
    color: #FC6B6B;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;


}

#fch1 {
    color: #FC6B6B;
    border: 1px solid #FC6B6B;
    border-radius: 25px;
    font-weight: bolder;
    text-align: center;
}

#ingredientsearch {
    background-color: transparent;
    color: #FC6B6B;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #FC6B6B;
    border-radius: 25px;
}

#searchicon {
    background-color: transparent;
    color: #FC6B6B;
}

#namesearch {
    background-color: transparent;
    color: #FC6B6B;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #FC6B6B;
    border-radius: 25px;
}

#searchicon {
    background-color: transparent;
    color: #FC6B6B;
}

#meal {
    font: Arial, Helvetica, sans-serif; 
    border-radius: 25px;
    font-weight: bolder;
    background-color: #FFDE83;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.uk-modal-dialog {
    background-color: #FFDE83;
    color: #FC6B6B;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #FC6B6B;
    border-radius: 25px;
}

#rfhead {
    background-color: #FFDE83;
    color: #FC6B6B;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 0px;
}

.uk-modal-title {
    background-color: #FFDE83;
    color: #FC6B6B;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #FC6B6B;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    width: 200px;
    margin: 0 auto;
}

.rfimage {
    background-color: transparent;
    border: 1px solid #FC6B6B;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-radius: 25px;
    margin: 0 auto;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    width: 70%;
}

.rfimg {
    background-color: transparent;
    border-radius: 25px;
}

.rfsource {
    background-color: transparent;
    border-radius: 25px;
    margin-top: auto;
}

#cbtn {
    background-color: #FFDE83;
    color: #FC6B6B;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #FC6B6B;
    border-radius: 25px;
    font-weight: bolder;
    text-align: center;
    margin: 3% auto;
    width: 100px;
    padding: 10px;
}

#cbtn:hover {
    cursor: pointer;
    background: #FC6B6B;
    color: #FFDE83;
}
 
#cbtn:focus {
    outline: 0;
}

#modfoot {
    background-color: #FC6B6B;
    color: #FC6B6B;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #FC6B6B;
}

/*Footer*/
#footer {
    background-color: #FC6B6B;
    color: #FFDE83;
    text-align: center;
    margin: 0 auto;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #FC6B6B;
    text-align: center;
    margin: 0 auto;
}