*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #FFDE83;
}

/* ---- reset ---- */ 
body { 
    margin:0; 
    font:normal 75% Arial, Helvetica, sans-serif; 
    background: #FFDE83;
} 

canvas { 
    display: block; 
    vertical-align: bottom; 
} 

/*Landing Page*/
#lplogo {
    max-width:100px;
    margin: 2%;
    background: transparent;
}


#page-footer {
    background-color: #FC6B6B;
    align-items: center;
    padding: 6px 6px 6px 6px;

}

#footer {
    background-color: transparent;
    color: #FC6B6B;
    text-align: center;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: transparent;
    text-align: center;
}