*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #FFDE83;
  }
  
  body {
    font-size: 16px;
    line-height: 1;
    background-color: #FFDE83;
    width: 100%;
    min-height:100vh;
    background-size: cover; 
  }

.uk-container {
        margin: 0 auto;
        padding: 20px;
        padding-top: 10%;
        padding-bottom: 10%;
        background: none;
        z-index: 12;
        position: relative;
}

#aglogo {
    max-width:250px;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

p {
    font-size: 50px;
    font-weight: bolder;
    color: #FC6B6B;
    align-items: center;
    margin: 0 auto;
    width: 300px;
}

#yes {
    font-size: 25px;
    font-weight: bold;
    color: #FC6B6B;
    align-items: center;
    border: 1px solid #FC6B6B; 
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;  
    width: 300px;
    margin: 0 auto;
    padding: 2px;
}


#no {
    font-size: 25px;
    font-weight: bold;
    color: #FC6B6B;
    align-items: center; 
    border: 1px solid #FC6B6B; 
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;  
    width: 300px;
    margin: 0 auto;
    padding: 2px;
}


/*Landing Page*/
#lplogo {
    max-width:100px;
    margin: 2%;
}

#page-wrapper {

    background-color: #FFDE83;
    color: #FC6B6B;
    top: 0 !important;
}

#page-wrapper:after {
    content: "";
    display: block;
}
#page-footer, #page-wrapper:after {
    height: 60px;
    align-items: center;
    margin: 0 auto;
}
#page-footer {
    background-color: #FC6B6B;
    align-items: center;

}

#footer {
    background-color: transparent;
    color: #FFDE83;
    text-align: center;
    padding: 2px;
}